StudentWebService/WebContent/WEB-INF/StudentInformationService23444.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://localhost:8080/StudentInformationService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="StudentInformationService" targetNamespace="http://localhost:8080/StudentInformationService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://localhost:8080/StudentInformationService/">
			<xsd:element name="GetStudentInformation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetStudentInformationRequest"
							type="tns:GetStudentInformationRequestType">
						</xsd:element>
         			 </xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetStudentInformationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GetStudentInformationResponse"
							type="tns:GetStudentInformationResponseType">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:complexType name="GetStudentInformationRequestType">
				<xsd:sequence>
					<xsd:element name="appId" type="xsd:string"></xsd:element>
					<xsd:element name="requestId" type="xsd:string"></xsd:element>
					<xsd:element name="roleId" type="xsd:string"></xsd:element>
					<xsd:element name="registrationNo" type="xsd:string"></xsd:element>
					<xsd:element name="invokerSid" type="xsd:string"></xsd:element>
					<xsd:element name="invokingMethod" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="GetStudentInformationResponseType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="role" type="xsd:string"></xsd:element>
					<xsd:element name="standard" type="xsd:string"></xsd:element>
					<xsd:element name="schoolName" type="xsd:string"></xsd:element>
					<xsd:element name="registrationNo" type="xsd:string"></xsd:element>
					<xsd:element name="requestId" type="xsd:string"></xsd:element>
					<xsd:element name="appId" type="xsd:string"></xsd:element>
					<xsd:element name="errors" maxOccurs="unbounded"
						minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="errorCode" type="xsd:string">
								</xsd:element>
								<xsd:element name="errorDetailMessage" type="xsd:string">
								</xsd:element>
								<xsd:element name="errorMessage" type="xsd:string">
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetStudentInformationRequest">
		<wsdl:part element="tns:GetStudentInformation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetStudentInformationResponse">
		<wsdl:part element="tns:GetStudentInformationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="StudentInformationServicePortType">
		<wsdl:operation name="GetStudentInformation">
			<wsdl:input message="tns:GetStudentInformationRequest" />
			<wsdl:output message="tns:GetStudentInformationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StudentInformationServiceBinding"
		type="tns:StudentInformationServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetStudentInformation">
			<soap:operation
				soapAction="http://localhost:8080/StudentInformationService/GetStudentInformation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StudentInformationService">
		<wsdl:port binding="tns:StudentInformationServiceBinding"
			name="StudentInformationServiceSOAP">
			<soap:address location="http://localhost:8080/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
